In [1]:
# stock price prediction part II

In [7]:
# import packages:

import pandas as pd
import numpy as np
import os
import time as tm
import pandas_datareader as pdr
import datetime
import requests_cache

In [8]:
# read in the S&P 500 stock list:

sp_stox = pd.read_csv('data/sp500_tickers.csv')

In [9]:
sp_stox.tail()

    ticker_symbol           compandy name
501           ZBH  Zimmer Biomet Holdings
502          ZBRA      Zebra Technologies
503          ZION           Zions Bancorp
504           ZTS         Zoetis Inc Cl A
505         ^GSPC                 S&P 500

In [24]:
# list of S&P stocks:

stocks  = sp_stox['ticker_symbol'].head(2) ### remove head when code is complete ###

In [25]:
# loop through and form a consistent dataframe of the data:


# set the query cache time:
expire_after = datetime.timedelta(days=3)

# cache the session:
session = requests_cache.CachedSession(cache_name='cache', backend='sqlite', expire_after=expire_after)

# loop through the tickers in the list:
for stock in stocks:
    start = tm.time()
    print('retriving: ' ,stock)

    ## pull and data generation:
    df = pdr.get_data_yahoo(stock.strip(), start = '2019-01-01', end = '2019-01-05', session = session)
    df['ticker'] = stock
    df.reset_index()
    df.to_csv(os.path.join('data', stock.strip() +'.csv'))
    print('saving: ', stock, ' data to: ', os.path.join('data', stock.strip() +'.csv'))
    
    
    end = tm.time()
    total = (end - start) / 60
    print('completed retrieving: ', stock, ' data in: ', total)

retriving:   A
saving:   A  data to:  data\A.csv
completed retrieving:   A  data in:  0.0003827810287475586
retriving:   AAL
saving:   AAL  data to:  data\AAL.csv
completed retrieving:   AAL  data in:  0.01511006752649943

In [90]:
df.reset_index()

,Date,High,Low,Open,Close,Volume,Adj Close,ticker
0,2019-01-02,158.850006,154.229996,154.889999,157.919998,37039700,155.582367,A
1,2019-01-03,145.720001,142.000000,143.979996,142.190002,91312200,140.085220,A
2,2019-01-04,148.550003,143.800003,144.529999,148.259995,58607100,146.065353,A

,Date,High,Low,Open,Close,Volume,Adj Close,ticker
0,2019-01-02,32.650002,31.049999,31.459999,32.480000,5229500,32.081280,AAL
1,2019-01-03,31.850000,28.809999,31.690001,30.059999,16822000,29.690985,AAL
2,2019-01-04,32.090000,30.400000,30.440001,32.040001,9369600,31.646681,AAL

In [87]:
stocks.repeat(df.shape[0])

0     A
0     A
0     A
Name: ticker_symbol, dtype: object

In [85]:
stocks

0     A
Name: ticker_symbol, dtype: object

In [ ]:
session = requests_cache.CachedSession(cache_name='cache', backend='sqlite', expire_after=expire_after)